*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

.idea/
.sass-cache/
.ionic/
.sourcemaps/
.tmp/
.versions/
coverage/
_test-reports/
dist/
dist-bundles/
dist-zips/
docs/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

#Saninn
*.~lock.*